.App {
  text-align: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background-color: #282c34;
  min-height: 100vh;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.App-header {
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}

.info-block {
  border: 1px white solid;
}

.info-block p,
.info-block code {
  display: inline;
}

.time-control {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  width: 100%;
  border-top: white 2px solid;
  background-color: #101114;
}

.time-control input {
  width: auto;
  flex-grow: 1;
}

.time-control * {
  margin: 0px 10px;
}

.static-info {
  display: flex;
  flex-flow: row wrap;
}
